

@import "tailwindcss";

.primary {
  background-color: #003366; /* น้ำเงินเข้ม */
}
.secondary {
  background-color: #FFDD00; /* สีเหลืองทอง */
}
.accent {
  background-color: #FFAB00; /* สีส้มเข้ม */
}
.font {
  font-family: 'Kanit', sans-serif;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


